cython
ninja

torch
torchvision
lightning

pyrender
pymcubes
pykdtree

binvox
h5py
scikit-image
lovely-tensors
einops
mathutils
transforms3d

git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/hummat/easy-o3d.git@master
